element.style {
}
.sqs-edit-mode-active .fluid-engine {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
<style>
@media (min-width: 768px) {
    .fe-ganzx31x9 {
        grid-template-rows: repeat(14, minmax(var(--unstretched-row-height), auto));
        grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(24, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
    }
}
<style>
@media (min-width: 768px) {
    .fe-ganzx31x9 {
        --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11px);
        --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11px * 23) ) / 24 );
        --inset-padding: 0vw;
        --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));
        --unstretched-row-height: calc(var(--container-width) * 0.0215);
    }
}
<style>
.fe-ganzx31x9 {
    display: grid;
    position: relative;
    grid-area: 1 / 1 / -1 / -1;
    grid-template-rows: repeat(18, minmax(var(--unstretched-row-height), auto));
    grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(8, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr);
    row-gap: var(--row-gap);
    column-gap: 11px;
}
<style>
.fe-ganzx31x9 {
    --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - ( 11px * 7) ) / 8 );
    --row-gap: 11px;
    --unstretched-row-height: 24px;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    --header-offset: 0px;
    user-select: none;
}
<style>
.page-section {
    color: var(--paragraphMediumColor);
}
.sqs-jacquard .sections.sqs-frontend-overlay-editor-widget-host {
    --header-scrim-top-spacing: 0;
}
<style>
@media screen and (min-width: 768px), screen and (max-width: calc(1511px)) and (orientation: landscape) {
    .site-wrapper, .sqs-catalog-item-list {
        font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
    }
}
<style>
.site-wrapper, .sqs-catalog-item-list {
    font-family: var(--body-font-font-family);
    font-style: var(--body-font-font-style);
    font-weight: var(--body-font-font-weight);
    line-height: var(--body-font-line-height);
    letter-spacing: var(--body-font-letter-spacing);
    text-transform: var(--body-font-text-transform);
    -webkit-font-smoothing: antialiased;
}
<style>
body.sqs-site-styles-active, body.sqs-edit-mode-active {
    --header-fixed-top-offset: 0px;
}
<style>
body {
    background-color: var(--siteBackgroundColor);
    color: var(--paragraphMediumColor);
}
<style>
@supports (--test-custom-property: true) {
    body {
        --sqs-site-gutter: 4vw;
        --sqs-mobile-site-gutter: 6vw;
        --sqs-site-max-width: 1400px;
    }
}
<style>
body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
<style>
html, body {
    font-size: var(--base-font-size);
}
<style>
:root {
    --primary-button-font-font-style: italic;
}
<style>
:root {
    --primary-button-font-font-size: 1rem;
    --primary-button-font-font-size-value: 1;
}
<style>
:root {
    --primary-button-font-font-size: 0.75rem;
    --primary-button-font-font-size-value: 0.75;
}
<style>
:root {
    --primary-button-font-font-size: 0.5rem;
    --primary-button-font-font-size-value: 0.5;
}
<style>
:root {
    --form-field-padding-vertical: 5px;
    --form-field-padding-horizontal: 10px;
    --form-field-checkbox-size: 16px;
    --form-field-checkbox-padding-vertical: 1px;
    --form-field-checkbox-padding-horizontal: 10px;
    --form-field-checkbox-row-gap: 12px;
    --form-field-radio-size: 17px;
    --form-field-radio-padding-vertical: 1px;
    --form-field-radio-padding-horizontal: 10px;
    --form-field-radio-row-gap: 12px;
    --form-field-survey-size: 17px;
}
<style>
:root {
    --form-field-border-thickness: 1px;
    --form-field-padding-vertical: 10px;
    --form-field-padding-horizontal: 20px;
    --form-field-checkbox-size: 25px;
    --form-field-checkbox-padding-vertical: 15px;
    --form-field-checkbox-padding-horizontal: 30px;
    --form-field-checkbox-row-gap: 16px;
    --form-field-radio-size: 25px;
    --form-field-radio-padding-vertical: 15px;
    --form-field-radio-padding-horizontal: 30px;
    --form-field-radio-row-gap: 16px;
    --form-field-survey-size: 25px;
}
<style>
:root {
    --secondary-button-stroke: 5px;
    --tertiary-button-padding-x: 2em;
    --tertiary-button-padding-y: 1.5em;
    --tertiary-button-stroke: 5px;
}
<style>
:root {
    --tertiary-button-font-font-size: 1.3rem;
    --tertiary-button-font-font-size-value: 1.3;
}
<style>
:root {
    --primary-button-stroke: 5px;
}
<style>
:root {
    --primary-button-stroke: 4px;
}
<style>
:root {
    --primary-button-stroke: 3px;
}
<style>
:root {
    --primary-button-stroke: 1px;
}
<style>
:root {
    --tweak-global-animations-animation-duration: 0.65s;
}
<style>
:root {
    --tweak-global-animations-animation-duration: 0.90s;
    --tweak-global-animations-animation-delay: 0.6s;
}
<style>
:root {
    --form-field-border-thickness: 2px;
}
<style>
:root {
    --form-field-padding-vertical: 5px;
    --form-field-padding-horizontal: 10px;
    --form-field-checkbox-size: 20px;
    --form-field-checkbox-padding-vertical: 5px;
    --form-field-checkbox-padding-horizontal: 15px;
    --form-field-checkbox-row-gap: 12px;
    --form-field-radio-size: 20px;
    --form-field-radio-padding-vertical: 5px;
    --form-field-radio-padding-horizontal: 15px;
    --form-field-radio-row-gap: 12px;
    --form-field-survey-size: 20px;
}
<style>
:root {
    --form-field-padding-vertical: 10px;
    --form-field-padding-horizontal: 20px;
    --form-field-checkbox-size: 25px;
    --form-field-checkbox-padding-vertical: 15px;
    --form-field-checkbox-padding-horizontal: 30px;
    --form-field-checkbox-row-gap: 16px;
    --form-field-radio-size: 25px;
    --form-field-radio-padding-vertical: 15px;
    --form-field-radio-padding-horizontal: 30px;
    --form-field-radio-row-gap: 16px;
    --form-field-survey-size: 25px;
}
<style>
:root {
    --secondary-button-padding-x: 2em;
    --secondary-button-padding-y: 1.5em;
    --secondary-button-stroke: 0px;
}
<style>
:root {
    --secondary-button-padding-x: 6em;
}
<style>
:root {
    --secondary-button-padding-x: 6.1em;
}
<style>
:root {
    --secondary-button-padding-x: 6.2em;
}
<style>
:root {
    --secondary-button-padding-x: 5.8em;
}
<style>
:root {
    --secondary-button-padding-x: 5.6em;
}
<style>
:root {
    --secondary-button-padding-x: 5.2em;
}
<style>
:root {
    --secondary-button-padding-x: 4.8em;
}
<style>
:root {
    --secondary-button-padding-x: 2.2em;
}
<style>
:root {
    --secondary-button-padding-x: 1.9em;
}
<style>
:root {
    --secondary-button-padding-y: 0.5em;
}
<style>
:root {
    --secondary-button-padding-y: 0.8em;
}
<style>
:root {
    --secondary-button-padding-y: 0.9em;
}
<style>
:root {
    --secondary-button-padding-y: 0.7em;
}
<style>
:root {
    --secondary-button-padding-y: 0.1em;
}
<style>
:root {
    --secondary-button-padding-y: 0em;
}
<style>
:root {
    --secondary-button-padding-y: 0.2em;
}
<style>
:root {
    --secondary-button-padding-y: 1.5em;
}
<style>
:root {
    --secondary-button-padding-y: 8.6em;
}
<style>
:root {
    --secondary-button-padding-y: 8.9em;
}
<style>
:root {
    --secondary-button-padding-y: 8.4em;
}
<style>
:root {
    --secondary-button-padding-y: 7.7em;
}
<style>
:root {
    --secondary-button-padding-y: 7.5em;
}
<style>
:root {
    --secondary-button-padding-y: 4.5em;
}
<style>
:root {
    --secondary-button-padding-y: 4.3em;
}
<style>
:root {
    --secondary-button-padding-y: 3.8em;
}
<style>
:root {
    --secondary-button-padding-y: 3.7em;
}
<style>
:root {
    --secondary-button-padding-y: 3.2em;
}
<style>
:root {
    --secondary-button-padding-y: 1.7em;
}
<style>
:root {
    --secondary-button-padding-y: 1.4em;
}
<style>
:root {
    --secondary-button-stroke: 1px;
}
<style>
:root {
    --secondary-button-stroke: 2px;
}
<style>
:root {
    --secondary-button-stroke: 5px;
}
<style>
:root {
    --secondary-button-stroke: 6px;
}
<style>
:root {
    --secondary-button-stroke: 3px;
}
<style>
:root {
    --previous-section-divider-offset: 0px;
}
<style>
:root {
    --primary-button-rounded-border-top-left-radius: 6.4px;
    --primary-button-rounded-border-top-right-radius: 6.4px;
    --primary-button-rounded-border-bottom-left-radius: 6.4px;
    --primary-button-rounded-border-bottom-right-radius: 6.4px;
    --primaryButtonPadding: 1.2em;
    --primary-button-padding-x: 2em;
    --primary-button-padding-y: 1.5em;
    --primary-button-stroke: 0px;
    --secondary-button-rounded-border-top-left-radius: 6.4px;
    --secondary-button-rounded-border-top-right-radius: 6.4px;
    --secondary-button-rounded-border-bottom-left-radius: 6.4px;
    --secondary-button-rounded-border-bottom-right-radius: 6.4px;
    --secondary-button-padding-x: 2.004em;
    --secondary-button-padding-y: 1.2em;
    --secondary-button-stroke: 1px;
    --tertiary-button-rounded-border-top-left-radius: 6.4px;
    --tertiary-button-rounded-border-top-right-radius: 6.4px;
    --tertiary-button-rounded-border-bottom-left-radius: 6.4px;
    --tertiary-button-rounded-border-bottom-right-radius: 6.4px;
    --tertiary-button-padding-x: 0em;
    --tertiary-button-padding-y: 1.2em;
    --tertiary-button-stroke: 0px;
    --form-field-shape-border-top-left-radius: 5px;
    --form-field-shape-border-top-right-radius: 5px;
    --form-field-shape-border-bottom-left-radius: 5px;
    --form-field-shape-border-bottom-right-radius: 5px;
    --form-field-border-thickness: 1px;
    --form-field-padding-vertical: 8px;
    --form-field-padding-horizontal: 15px;
    --form-field-checkbox-shape-border-top-left-radius: 5px;
    --form-field-checkbox-shape-border-top-right-radius: 5px;
    --form-field-checkbox-shape-border-bottom-left-radius: 5px;
    --form-field-checkbox-shape-border-bottom-right-radius: 5px;
    --form-field-checkbox-border-thickness: 1px;
    --form-field-checkbox-size: 20px;
    --form-field-checkbox-space-between-icon-and-text: 11px;
    --form-field-checkbox-padding-vertical: 5px;
    --form-field-checkbox-padding-horizontal: 15px;
    --form-field-checkbox-row-gap: 12px;
    --form-field-checkbox-column-gap: 20px;
    --form-field-radio-shape-border-top-left-radius: 5px;
    --form-field-radio-shape-border-top-right-radius: 5px;
    --form-field-radio-shape-border-bottom-left-radius: 5px;
    --form-field-radio-shape-border-bottom-right-radius: 5px;
    --form-field-radio-border-thickness: 1px;
    --form-field-radio-size: 20px;
    --form-field-radio-space-between-icon-and-text: 11px;
    --form-field-radio-padding-vertical: 5px;
    --form-field-radio-padding-horizontal: 15px;
    --form-field-radio-row-gap: 12px;
Show All Properties (16 more)
}
<style>
:root {
    --primary-button-rounded-border-top-left-radius: 6.4px;
    --primary-button-rounded-border-top-right-radius: 6.4px;
    --primary-button-rounded-border-bottom-left-radius: 6.4px;
    --primary-button-rounded-border-bottom-right-radius: 6.4px;
    --primaryButtonPadding: 1.2em;
    --primary-button-padding-x: 2em;
    --primary-button-padding-y: 1.5em;
    --primary-button-stroke: 0px;
    --secondary-button-rounded-border-top-left-radius: 6.4px;
    --secondary-button-rounded-border-top-right-radius: 6.4px;
    --secondary-button-rounded-border-bottom-left-radius: 6.4px;
    --secondary-button-rounded-border-bottom-right-radius: 6.4px;
    --secondary-button-padding-x: 2.004em;
    --secondary-button-padding-y: 1.2em;
    --secondary-button-stroke: 1px;
    --tertiary-button-rounded-border-top-left-radius: 6.4px;
    --tertiary-button-rounded-border-top-right-radius: 6.4px;
    --tertiary-button-rounded-border-bottom-left-radius: 6.4px;
    --tertiary-button-rounded-border-bottom-right-radius: 6.4px;
    --tertiary-button-padding-x: 0em;
    --tertiary-button-padding-y: 1.2em;
    --tertiary-button-stroke: 0px;
    --form-field-shape-border-top-left-radius: 5px;
    --form-field-shape-border-top-right-radius: 5px;
    --form-field-shape-border-bottom-left-radius: 5px;
    --form-field-shape-border-bottom-right-radius: 5px;
    --form-field-border-thickness: 1px;
    --form-field-padding-vertical: 8px;
    --form-field-padding-horizontal: 15px;
    --form-field-checkbox-shape-border-top-left-radius: 5px;
    --form-field-checkbox-shape-border-top-right-radius: 5px;
    --form-field-checkbox-shape-border-bottom-left-radius: 5px;
    --form-field-checkbox-shape-border-bottom-right-radius: 5px;
    --form-field-checkbox-border-thickness: 1px;
    --form-field-checkbox-size: 20px;
    --form-field-checkbox-space-between-icon-and-text: 11px;
    --form-field-checkbox-padding-vertical: 5px;
    --form-field-checkbox-padding-horizontal: 15px;
    --form-field-checkbox-row-gap: 12px;
    --form-field-checkbox-column-gap: 20px;
    --form-field-radio-shape-border-top-left-radius: 5px;
    --form-field-radio-shape-border-top-right-radius: 5px;
    --form-field-radio-shape-border-bottom-left-radius: 5px;
    --form-field-radio-shape-border-bottom-right-radius: 5px;
    --form-field-radio-border-thickness: 1px;
    --form-field-radio-size: 20px;
    --form-field-radio-space-between-icon-and-text: 11px;
    --form-field-radio-padding-vertical: 5px;
    --form-field-radio-padding-horizontal: 15px;
    --form-field-radio-row-gap: 12px;
Show All Properties (16 more)
}
<style>
:root {
    --base-font-size: 16.0px;
    --heading-font-font-family: fino;
    --heading-font-font-style: normal;
    --heading-font-font-weight: 400;
    --heading-font-text-transform: uppercase;
    --heading-font-letter-spacing: 0.0em;
    --heading-font-line-height: 1.2em;
    --body-font-font-family: Spectral;
    --body-font-font-style: normal;
    --body-font-font-weight: 400;
    --body-font-text-transform: none;
    --body-font-letter-spacing: -0.02em;
    --body-font-line-height: 1.5em;
    --meta-font-font-family: Spectral;
    --meta-font-font-style: normal;
    --meta-font-font-weight: 400;
    --meta-font-text-transform: none;
    --meta-font-letter-spacing: -0.02em;
    --meta-font-line-height: 1.0em;
    --heading-1-size: 7.0rem;
    --heading-1-size-value: 7.0;
    --heading-2-size: 5.0rem;
    --heading-2-size-value: 5.0;
    --heading-3-size: 3.5rem;
    --heading-3-size-value: 3.5;
    --heading-4-size: 2.5rem;
    --heading-4-size-value: 2.5;
    --large-text-size: 1.5rem;
    --large-text-size-value: 1.5;
    --normal-text-size: 1.3rem;
    --normal-text-size-value: 1.3;
    --small-text-size: 1.1rem;
    --small-text-size-value: 1.1;
    --normal-meta-size: 1.0rem;
    --normal-meta-size-value: 1.0;
    --site-title-font-font-family: var(--heading-font-font-family);
    --site-title-font-font-style: var(--heading-font-font-style);
    --site-title-font-font-weight: var(--heading-font-font-weight);
    --site-title-font-text-transform: var(--heading-font-text-transform);
    --site-title-font-letter-spacing: var(--heading-font-letter-spacing);
    --site-title-font-line-height: var(--heading-font-line-height);
    --site-title-font-font-size: 2.0rem;
    --site-title-font-font-size-value: 2.0;
    --mobile-site-title-font-font-family: var(--heading-font-font-family);
    --mobile-site-title-font-font-style: var(--heading-font-font-style);
    --mobile-site-title-font-font-weight: var(--heading-font-font-weight);
    --mobile-site-title-font-text-transform: var(--heading-font-text-transform);
    --mobile-site-title-font-letter-spacing: var(--heading-font-letter-spacing);
    --mobile-site-title-font-line-height: var(--heading-font-line-height);
    --mobile-site-title-font-font-size: var(--normal-text-size);
Show All Properties (761 more)
}
<style>
:root {
    --announcement-bar-background-color: hsla(var(--accent-hsl), 1.0);
    --announcement-bar-text-color: hsla(var(--safeInverseAccent-hsl), 1.0);
    --backgroundOverlayColor: hsla(var(--lightAccent-hsl), 1.0);
    --course-item-nav-active-lesson-background-color: hsla(var(--darkAccent-hsl), 1.0);
    --course-item-nav-active-lesson-text-color: hsla(var(--white-hsl), 1.0);
    --course-item-nav-background-color: hsla(var(--white-hsl), 1.0);
    --course-item-nav-border-color: hsla(var(--black-hsl), 0.25);
    --course-item-nav-text-color: hsla(var(--black-hsl), 1.0);
    --course-list-course-progress-bar-color: hsla(var(--darkAccent-hsl), 1.0);
    --course-list-course-item-background: hsla(var(--white-hsl), 1.0);
    --course-list-course-item-hover-background: hsla(var(--white-hsl), 0.75);
    --course-list-course-item-text-color: hsla(var(--black-hsl), 1.0);
    --course-list-course-chapter-divider-color: hsla(var(--lightAccent-hsl), 1.0);
    --course-list-grid-layout-chapter-divider-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --course-list-grid-layout-course-item-background-color: hsla(var(--white-hsl), 1.0);
    --course-list-grid-layout-course-item-hover-background-color: hsla(var(--white-hsl), 0.75);
    --course-list-grid-layout-course-item-text-color: hsla(var(--black-hsl), 1.0);
    --course-list-grid-layout-course-item-border-color: hsla(var(--accent-hsl), 1.0);
    --donation-block-background-color: hsla(var(--white-hsl), 1.0);
    --donation-block-stroke-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --gradientHeaderBackgroundColor: hsla(var(--white-hsl), 1.0);
    --gradientHeaderBorderColor: hsla(var(--black-hsl), 1.0);
    --gradientHeaderDropShadowColor: hsla(var(--black-hsl), 1.0);
    --gradientHeaderNavigationColor: hsla(var(--black-hsl), 1.0);
    --headerDropShadowColor: hsla(var(--black-hsl), 1.0);
    --headerBorderColor: hsla(var(--black-hsl), 1.0);
    --headingExtraLargeColor: hsla(var(--darkAccent-hsl), 1.0);
    --headingLargeColor: hsla(var(--darkAccent-hsl), 1.0);
    --headingLinkColor: hsla(var(--safeDarkAccent-hsl), 1.0);
    --headingMediumColor: hsla(var(--safeDarkAccent-hsl), 1.0);
    --headingSmallColor: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-card-image-button-bg-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-card-image-button-text-color: hsla(var(--safeInverseDarkAccent-hsl), 1.0);
    --image-block-card-image-overlay-color: hsla(var(--darkAccent-hsl), 1.0);
    --image-block-card-image-subtitle-color: hsla(var(--black-hsl), 1.0);
    --image-block-card-image-title-bg-color: hsla(var(--lightAccent-hsl), 0.0);
    --image-block-card-image-title-color: hsla(var(--black-hsl), 1.0);
    --image-block-card-inline-link-color: hsla(var(--black-hsl), 1.0);
    --image-block-collage-background-color: hsla(var(--white-hsl), 1.0);
    --image-block-collage-image-button-bg-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-collage-image-button-text-color: hsla(var(--safeInverseDarkAccent-hsl), 1.0);
    --image-block-collage-image-overlay-color: hsla(var(--darkAccent-hsl), 1.0);
    --image-block-collage-image-subtitle-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-collage-image-title-bg-color: hsla(var(--lightAccent-hsl), 0.0);
    --image-block-collage-image-title-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-collage-inline-link-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-overlap-image-button-bg-color: hsla(var(--safeDarkAccent-hsl), 1.0);
    --image-block-overlap-image-button-text-color: hsla(var(--safeInverseDarkAccent-hsl), 1.0);
    --image-block-overlap-image-overlay-color: hsla(var(--darkAccent-hsl), 1.0);
    --image-block-overlap-image-subtitle-color: hsla(var(--black-hsl), 1.0);
Show All Properties (269 more)
}
<style>
:root {
    --white-hsl: 0.0, 0.0%, 100.0%;
    --black-hsl: 0.0, 0.0%, 0.0%;
    --safeLightAccent-hsl: 0.0, 0.0%, 100.0%;
    --safeDarkAccent-hsl: 218.18, 37.29%, 23.14%;
    --safeInverseAccent-hsl: 0.0, 0.0%, 100.0%;
    --safeInverseLightAccent-hsl: 0.0, 0.0%, 0.0%;
    --safeInverseDarkAccent-hsl: 0.0, 0.0%, 100.0%;
    --accent-hsl: 218.18, 37.29%, 23.14%;
    --lightAccent-hsl: 60.0, 7.46%, 86.86%;
    --darkAccent-hsl: 330.0, 2.44%, 16.08%;
}
<style>
@media screen and (max-width: 991px) {
    html {
        font-size: min(var(--base-font-size), 16px);
    }
}
<style>
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}